#navbar{
  max-width:100%;
}
#logo-container{
  display:flex;
  width:6rem;
}
.nav-item{
  padding:2rem;
}
#member-button{
  width: 10rem;
  height: 2.5rem;
  border-radius: 4px;
  padding: 8px;
  background-color: #583C77;
  color: #ffffff;
  font-size:0.75rem;
  margin-right:6rem;
}